html {
  height: 100%;
}

body {
  background-color: #ccc;
  margin: 0;
  padding: 0;
  height: 100%;
}

.page {
  background-color: #fff;
  height: 100%;
  width: 70%;
  margin: auto;
  padding: 64px;
  box-sizing: border-box;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.panel#tasks-new,
.panel#lists-new {
  flex-direction: column;
}

#tasks-new span,
#lists-new span {
  margin-bottom: 32px;
}

#tasks-new input,
#lists-new input {
  margin-left: 32px;
}

#tasks-ul,
#lists-ul {
  width: 80%;
}

.task-li,
.list-li {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 32px 32px 32px 0;
  box-sizing: border-box;
  margin: 0 !important;
}

.task-li a {
  margin-left: 16px;
}

.task-li label,
.list-tasks-link {
  flex: 1;
}

.task-li label {
  display: flex;
  flex-direction: column;
}

.striked {
  text-decoration: line-through;
}

.panel-buttons {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.span-title {
  font-size: 1.2em;
}

.span-due,
.span-details {
  font-size: 0.8em;
}
