html {
  height: 100%;
}

body {
  background-color: #ccc;
  margin: 0;
  padding: 0;
  height: 100%;
}

.page {
  background-color: #fff;
  height: 100%;
  width: 70%;
  margin: auto;
  padding: 64px;
  box-sizing: border-box;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.panel#tasks-new {
  flex-direction: column;
}

#task-new-title {
  margin: 16px 0;
}
